html, body {
    height: 100%;
    margin: 0;
    background-color: white;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchContainer {
    width: 75%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchBar {
    width: 75%;
    height: 5%;
    border: 2px solid black;
    background-color: transparent;
    color: black;
    border-radius: 10px;
    font-size: 15px;
    padding: 5px;
}

.searchBar:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px grey; 
}

.answerText {
    color: black;
}